{ // fromthe polyfill
	"plugins": [
		"@babel/syntax-dynamic-import"
	],
	"env": {
		"test": {
			"presets": [
				[
					"@babel/plugin-transform-modules-commonjs",
					{
						"targets": {
							"node": "current"
						}
					}
				]
			]
		}
	},
	"presets": [
		[
			"@babel/preset-env",
			{
			"useBuiltIns": "usage",
			"corejs": 3,
			"targets": {
				"node": "18.14.1"
			}
		}
	]
	]
}
